.App {
padding: 12px 0;
margin: 30px auto;
width: 1140px;
}

.main{
  width: 250px;
 padding: 20px;
 border: 2px solid brown;
  background-color: antiquewhite;
}
.ac{
  display: flex;
  justify-content: end;
}
/* .ans{
  display: flex;
  justify-content: center;
} */
.sub{
  display: flex;
  justify-content: space-between;
  
}
input{
  padding: 10px;
  margin: 5px;
  cursor: pointer;

}